= form_for [:admin, @testimonial] do |f|
  = f.error_messages
  %p
    = f.label :from
    %br
    = f.text_field :from
  %p
    = f.label :quote
    %br
    = f.text_area :quote
  %p
    = f.label :date
    %br
    = f.date_select :date, :end_year => 1980, :start_year => Date.today.year, :discard_day => true, :order => [:month, :year]
    
  %p
    = f.submit