<% title "Testimonials" %>

<table>
  <tr>
    <th>From</th>
    <th>Quote</th>
    <th>Date</th>
  </tr>
  <% for testimonial in @testimonials %>
    <tr>
      <td><%= testimonial.from %></td>
      <td><%= testimonial.quote %></td>
      <td><%= testimonial.date %></td>
      <td><%= link_to "Edit", edit_admin_testimonial_path(testimonial) %></td>
      <td><%= link_to "Remove", admin_testimonial_path(testimonial), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Testimonial", new_admin_testimonial_path %></p>
