<% title "Builder" %>

<p>
  <strong>Name:</strong>
  <%= @builder.name %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @builder.bio %>
</p>
<p>
  <strong>Email:</strong>
  <%= @builder.email %>
</p>

<p>
  <%= link_to "Edit", edit_builder_path(@builder) %> |
  <%= link_to "Destroy", @builder, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", builders_path %>
</p>
