!!! 5
%html{ :lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "Author", :content => "Raugstad Inc" }
    %meta{ :name => "viewport", :content => "width=1024" }
    %title= 'Welcome to Raugstad Inc | Deerfield, IL | 1-847-722-5626 | ' + @title ||= "Thanks for Visiting!"
    %meta{ :name => "Keywords", :content => "Raugstad Inc" }
    %meta{ :name => "Description", :content => "Raugstad Inc"}
    = stylesheet_link_tag 'frontend/all'
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
    = javascript_include_tag "application", "slider"
    = csrf_meta_tag
  %body
    #container
      #header
        = link_to image_tag('raugstad_inc_logo.png', :class => "logo"), root_path
        #menu
          %ul
            %li= link_to "Home", root_path, :class => is_active?("home")
            %li= link_to "About Us", about_path, :class => is_active?("about")
            %li= link_to "Meet the Builders", meet_the_builders_path, :class => is_active?("meet_the_builders")
            %li= link_to "Gallery", "#"
            %li= link_to "Testimonials", testimonials_path, :class => is_active?("testimonials")
            %li= link_to "Contact Us", "#"
      #content
        = yield
    #footer
      %ul
        %li &copy; 2010 Raugstad Inc.